<ng-container *ngIf="extendedFormGroup">
  <app-dynamic-form
    #dynamicForm
    [extendedFormGroup]="extendedFormGroup"
    [radioTableTemplate]="radioTableTmpl"
    [radioTemplate]="radioTmpl"
    [disclaimerTemplate]="disclaimerTmpl"
    [activeStep]="activeStep"
    [hasFormActions]="hasFormActions"
    [nextAction]="nextAction"
    [previousAction]="previousAction"
    [saveAction]="saveAction"
    [cancelAction]="cancelAction"
    (nextEvent)="goToNextStep()"
    (previousEvent)="gotToPreviousStep()"
  ></app-dynamic-form>
</ng-container>

<ng-template #numberTmpl let-context="context" let-error="error">
  <div class="card px-3 py-4" [formGroup]="extendedFormGroup">
    <div class="input-metadata mb-3" style="max-width: 75%">
      <h3>{{ context?.formItem?.descriptionHeader }}</h3>
      <p class="mt-3">{{ context?.formItem?.description }}</p>
    </div>
    <div class="input" style="max-width: 75%">
      <span class="font-weight-bold d-block">{{
        context?.formItem?.controlMetaData?.description
      }}</span>
      <span>{{ context?.formItem?.controlMetaData?.label }}</span>
      <sebng-textbox
        className="dynamic-form-item"
        pattern="[0-9]*"
        inputmode="numeric"
        type="text"
        digitsOnly
        [rightText]="context?.formItem?.controlMetaData?.inputGroupLabel"
        [formControl]="context"
        [error]="error"
      ></sebng-textbox>
    </div>
  </div>
</ng-template>

<ng-template #disclaimerTmpl let-context="context">
  <div class="card px-3 py-4">
    <h3>{{ context?.formItem?.descriptionHeader }}</h3>
    <p>{{ context?.formItem?.description }}</p>
  </div>
</ng-template>

<ng-template #itemTmpl>
  <h3>{{ context?.descriptionHeader }}</h3>
  <p>{{ context?.description }}</p>
</ng-template>

<ng-template #radioTmpl let-context="context" let-error="error">
  <div class="radio" [formGroup]="extendedFormGroup">
    <div class="col-12 p-0">
      <sebng-radio-group
        className="dynamic-form-item"
        [label]="
          context?.formItem?.label ||
          context?.formItem?.controlMetaData?.description
        "
        [condensed]="true"
        [inline]="true"
        [formControl]="context"
        [list]="context.formItem.options"
        [error]="error"
      ></sebng-radio-group>
    </div>
  </div>
</ng-template>

<ng-template #cardTmpl let-context="context" let-error="error">
  <div class="card px-3 py-4">
    <h3>{{ context?.formItem?.descriptionHeader }}</h3>
    <p>{{ context?.formItem?.description }}</p>
    <div class="row" [formGroup]="extendedFormGroup">
      <div class="col-6">
        <sebng-toggle-selector
          [formControl]="context"
          [list]="context.formItem.options"
          [error]="!!error"
          [errorMessage]="error"
        ></sebng-toggle-selector>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #radioTableTmpl let-context="context" let-error="error">
  <ng-container *ngIf="context.value.value.followUpItems?.multi; else single">
    <table
      class="table table-hover"
      *ngIf="context.value?.formGroup.value?.length"
    >
      <thead>
        <tr>
          <th
            *ngFor="
              let section of context.value.value.followUpItems.items[0].sections
            "
          >
            {{ section.title }}
          </th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of context.value.formGroup.value; index as i">
          <ng-container *ngFor="let key of getObjectKeys(item)">
            <ng-container *ngFor="let itemKey of getObjectKeys(item[key])">
              <td *ngFor="let val of getObjectKeys(item[key][itemKey])">
                {{ item[key][itemKey][val] }}
              </td>
            </ng-container>
          </ng-container>
          <td>
            <button
              class="btn btn-sm btn-secondary"
              type="button"
              (click)="
                edit({
                  formArray: context.value.formGroup,
                  index: i,
                  parentKey: context.value.formItem.key
                })
              "
            >
              Edit
            </button>
          </td>
          <td>
            <button
              class="btn btn-sm btn-secondary btn-danger"
              type="button"
              (click)="delete({ form: context.value, index: i })"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-template #single>
    <div class="radio card data">
      <div class="title">
        <label *ngIf="context?.value?.formItem?.controlMetaData?.label">
          {{ context.value.formItem.controlMetaData.label }}
        </label>
        <span
          *ngIf="context?.value?.formItem?.controlMetaData?.description"
        ></span>
      </div>
      <table class="radio-group-data cursor-pointer">
        <tbody>
          <tr
            *ngFor="
              let control of context.value.formGroup.controls;
              index as i;
              trackBy: trackByFn
            "
            (click)="
              edit({
                formArray: context.value.formGroup,
                index: i,
                parentKey: context.value.formItem.key
              })
            "
          >
            <td>value</td>
            <ng-container
              *ngFor="let item of getNestedControlValue(control.value)"
            >
              <td class="pr-0">{{ formatNumberLocale(item) }}</td>
            </ng-container>
            <td class="picto">
              <sebng-button theme="link" className="p-0 font-weight-bold">
                <svg
                  id="PIKTO_REGULAR"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 192 512"
                  width="32px"
                  height="32px"
                >
                  <path
                    d="M166.9 264.5l-117.8 116c-4.7 4.7-12.3 4.7-17 0l-7.1-7.1c-4.7-4.7-4.7-12.3 0-17L127.3 256 25.1 155.6c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0l117.8 116c4.6 4.7 4.6 12.3-.1 17z"
                  />
                </svg>
              </sebng-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
</ng-template>
